[package]
name = "memory-serve"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true
description.workspace = true

[dependencies]
brotli = "6.0"
flate2 = "1.0"
axum = { version = "0.7", default-features = false }
memory-serve-macros = { version = "0.4", path = "../memory-serve-macros" }
tracing = "0.1"
sha256 = "1.4"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
tower = "0.4"
axum = { version = "0.7" }
