name: test
on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  ASSET_DIR: ../static

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo fmt --all -- --check

  outdated:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: cargo outdated --exit-code 1

  deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: EmbarkStudios/cargo-deny-action@v1

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: cargo
        shared-key: build
    - run: cargo build --all-features --all-targets --release

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: cargo
        shared-key: check
    - run: cargo clippy --all-features --all-targets -- --deny clippy::all

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: cargo
        shared-key: test
    - run: cargo test --all-features --all-targets

  test-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: cargo
        shared-key: test
    - run: cargo test --all-features --all-targets --release

  udeps:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: cargo
        shared-key: udeps
    - uses: tweedegolf/ci-standard/.github/actions/cargo-udeps@main
